module Ruboty
  module <%= config[:ruboty_plugin_constant_name] %>
    module Actions
      class <%= config[:constant_action] %> < Ruboty::Actions::Base
        def call
          message.reply(<%= config[:action] %>)
        end

        private

        def <%= config[:action] %>
          "TODO: write your logic."
        rescue => e
          e.message
        end
      end
    end
  end
end
